<!doctype html>
<html lang="en">
  <head>
    <title>Progress</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/style.css">

  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="height: 60px; background-color: #1a1d26; justify-content: center;">
      <a class="navbar-brand" href="/" >
        <img src="static/images/GetFitLogo.png" alt="logo" style="width:200px; height:50px;">
      </a>
    </nav>

    <div class="container-fluid">
      <div class="row" style="justify-content: center; margin-top: 20px;">
        <h1>DAILY SUMMARY</h1>
      </div>
      <div class="row" style="margin-top: 30px;">
        <div class="col-sm-3">
          <div class="card text-center" style="border-width: 3px;">
            <div class="card-header" style="background-color: #fab917;">
              <h3>Bicep Curls</h3>
            </div>
            <div class="card-body">
              <h2 class="card-title">{{result[0]}} Reps</h2>
              <a href="#" class="btn btn-warning">More detail</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-center">
            <div class="card-header" style="background-color: #fab917;">
              <h3>Front Raise</h3>
            </div>
            <div class="card-body">
              <h2 class="card-title">{{result[1]}} Reps</h2>
              <a href="#" class="btn btn-warning">More detail</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-center">
            <div class="card-header" style="background-color: #fab917;">
              <h3>Lateral Raise</h3>
            </div>
            <div class="card-body">
              <h2 class="card-title">{{result[2]}} Reps</h2>
              <a href="#" class="btn btn-warning">More detail</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-center">
            <div class="card-header" style="background-color: #fab917;">
              <h3>Deep Squat</h3>
            </div>
            <div class="card-body">
              <h2 class="card-title">{{result[3]}} Reps</h2>
              <a href="#" class="btn btn-warning">More detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>